:root {
    /* 使用操作系统主题方案，亮色配色方案与深色配色方案 */
    color-scheme: light dark;
}

/* 监听操作系统主题模式 */
/* 用户自定义颜色方案覆盖其系统亮色与深色的配色方案 */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ddd;
        color: #333;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }
}

.sudokuBoard {
    width: 450px;
    height: 450px;
    border-collapse: collapse;
    border-color: #d7d5d5;
    background-color: white;
    cursor: default;
    border-top-color: #333;
    border-left-color: #333;
    border-style: double;
    font-size: 20px;
}

.sudokuBoard tr td {
    padding: 0;
    text-align: center;
}

.sudokuBoard tr td.given {
    background-color: #ddd;
}

.sudokuBoard tr td.third-col {
    border-right-color: #333;
    border-right-style: double;
}

.sudokuBoard tr td.third-row {
    border-bottom-color: #333;
    border-bottom-style: double;
}

.sudokuBoard tr td div {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.sudokuBoard tr td div.focus {
    background-color: lightskyblue;
}
